div {
    max-width: 1200px;
    padding: 0 20px;
    font-family: "Comforta", sans-serif;
    justify-content: space-between;
    align-items: center;
    max-width: calc(50% - 10px);

transition: background-color 0.3s ease-in-out;
    background: #f3969a;
    font-size: 14px;

    display: block;
    line-height: 40px;
    border: none;
    background: transparent;
    font-size: 14px;
    padding: 0 12px;
    text-transform: uppercase;

    border-bottom: 2px solid #f3969a;

    &:placeholder-shown {
        font-family: "Raleway", sans-serif;
        color: rgba (0, 0, 0, 0.4);
        margin-bottom: 20px;
    }

    &:focus {
        outline: none;
    }


    border-radius: 50%;
    border: none;
    background: #f3969a;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    cursor: pointer;
    color: #fa6464;

}

@media (max-with: 1200px) {

}